ALYA_VERSION="0.1"
if [ "${grub_platform}" == 'efi' ]; then bios_or_uefi='(UEFI)!'; else bios_or_uefi='(BIOS)!'; fi
insmod part_gpt part_msdos fat iso9660 ntfs ntfscomp exfat udf font all_video serial usbserial_common usbserial_ftdi usbserial_pl2303 usbserial_usbdebug
if loadfont "${prefix}/fonts/unicode.pf2" ; then set gfxmode="auto"; terminal_input console; terminal_output gfxterm; fi
if serial --unit=0 --speed=115200; then terminal_input --append serial; terminal_output --append serial; fi
default=alya-os; timeout=10; timeout_style=menu

menuentry "Welcome to Alya OS $ALYA_VERSION Live ISO $bios_or_uefi" { insmod ext2; }
menuentry "----------------------------------------------------" { insmod ext2; }

menuentry "Alya OS" --class arch --class gnu-linux --class gnu --class os --id 'alya-os' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=auto module_blacklist=pcspkr i915.modeset=1 amdgpu.modeset=1 nvme_load=yes
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
}
menuentry "Alya OS (Safe Mode - nomodeset)" --class arch --class gnu-linux --class gnu --class os --id 'alya-os-fallback' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=auto module_blacklist=nvidia,nvidia_modeset,nvidia_uvm,nvidia_drm nomodeset nvme_load=yes
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
}
if [ "${grub_platform}" == 'efi' -a "${grub_cpu}" == 'x86_64' -a -f '/boot/memtest86+/memtest.efi' ]; then
    menuentry 'Run Memtest86+ (RAM test)' --class memtest86 --class memtest --class gnu --class tool { set gfxpayload=800x600,1024x768; linux /boot/memtest86+/memtest.efi; }
fi
if [ "${grub_platform}" == 'pc' -a -f '/boot/memtest86+/memtest' ]; then
    menuentry 'Run Memtest86+ (RAM test)' --class memtest86 --class memtest --class gnu --class tool { set gfxpayload=800x600,1024x768; linux /boot/memtest86+/memtest; }
fi
if [ "${grub_platform}" == 'efi' ]; then
    if [ "${grub_cpu}" == 'x86_64' -a -f '/shellx64.efi' ]; then menuentry 'UEFI Shell' --class efi { chainloader /shellx64.efi; }; fi
    menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' { fwsetup; }
fi
menuentry 'System shutdown' --class shutdown --class poweroff { echo 'Shutting down...'; halt; }
menuentry 'System restart' --class reboot --class restart { echo 'Rebooting...'; reboot; }
